<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- endinject -->
    <link rel="icon" href="{{url_for('static',filename='U.svg')}}">

</head>

<body>
    <div class="container-scroller ">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <div class="navbar-brand brand-logo mr-5"><img src="static\logo1d.svg" class="mr-2" alt="logo" /></div>
                <div class="navbar-brand brand-logo-mini"><img src="static\U.svg" alt="logo" /></div>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper w-100">
            <div class="content-wrapper" style="min-height: inherit;">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-12 col-sm-12	col-12 grid-margin">
                            <h1> University </h1>
                            <h1 style="margin-bottom: 1.8rem; ">Recruitment System</h1>
                            <h3>Are you looking for a part time job ?</h3>
                            <p>Let's Get Started</p>

                            <button class="btn btn-primary btn-lg " style="margin-top: 2rem; "
                                onclick="location.href = '/login';" type="button">Login</button>
                                  
            

                        </div>


                    </div>
                </div>

            </div>
        </div>


</body>

</html>